**/__pycache__
**/__pycache__/**
*.pyc
**/.ipynb_checkpoints/
**/.ipynb_checkpoints/**
**/.vscode
**/.vscode/**

*.so
**/build
**/build/**

**/results
**/results/**
/.idea
models/*trt.engine
/lib/libface-lightning/
*.onnx
*.engine
*.pt
*.ckpt